* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  line-height: 23px;
  font-weight: normal;
  font-style: normal;
  color: $color-b;
}
a {
  color: inherit;
}
img {
  max-width: 100%;
}
.d-flex {
  display: flex;
}
.jus-between {
  justify-content: space-between;
}
.text-primary {
  color: $color-primary !important;
}
