.banner {
  height: 800px;
  background-image: url(../assets/images/banner-3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-products {
  .title {
    color: $color-primary;
    font-size: 24px;
    line-height: 24px;
  }
  .product {
    display: inline-block;
    box-sizing: border-box;
    .product-img {
      width: 100%;
    }
    .product-title {
      text-transform: capitalize;
      font-weight: 600;
    }
    .product-price {
      color: $color-h;
    }
    .btn-cart {
      padding: 5px 15px;
      background-color: $color-primary;
      color: $color-a;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
