.banner {
  height: 800px;
  background-image: url(../assets/images/banner-3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  @extend %title;
}


.product {
  display: inline-block;
  box-sizing: border-box;
  .product-img {
    width: 100%;
  }
  .product-title {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
  }
  .product-price {
    color: $color-h;
    font-size: 16px;
  }
  .btn-cart {
    padding: 5px 15px;
    background-color: $color-primary;
    color: $color-a;
    text-align: center;
    text-transform: uppercase;
  }
}

.my-cart {
  border-collapse: collapse;
  width: 100%;
  td, th {
    padding: 8px;
    border: 1px solid $color-b;
    text-align: center;
  }
  th {
    font-size: 16px;
    color: $color-a;
    background-color: $color-primary;
  }
  .des {
    text-align: left;
  }

}
