.banner {
  height: 750px;
  background-image: url(../assets/images/banner-3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -91px;
}
.title {
  @extend %title;
}

.product {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease-out 0s;
  &:hover {
    box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.2);
    transform: translateY(-8px);
  }
  .product-img {
    width: 100%;
  }
  .product-title {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
  }
  .product-price {
    color: $color-h;
    font-size: 16px;
  }
  .btn-cart {
    padding: 5px 15px;
    background: linear-gradient(to bottom, rgba(0, 255, 0, 0.3), #649803);
    border-radius: 5px;
    color: $color-a;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: $color-h;
      background: linear-gradient(to bottom, rgba(0, 255, 0, 0.4), #22730e);
    }
  }
}

.my-cart {
  border-collapse: collapse;
  width: 100%;
  td, th {
    padding: 8px;
    border: 1px solid $color-b;
    text-align: center;
    .input-text {
      text-align: center;
      width: 30px;
      height: 20px;
    }
    .product-img {
      width: 70%;
      margin: auto;
    }
  }
  th {
    font-size: 16px;
    color: $color-a;
    background-color: $color-primary;
  }
  .des {
    text-align: left;
  }

}
